:host {
  ion-header {
    z-index: 9999;

    .person-image {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      margin-right: 10px;
    }
  }
}
