<ion-header [translucent]="true" slot="fixed">
  <ion-toolbar>
    <!-- Header -->
    <ion-buttons slot="start">
      <ion-icon name="menu" size="large" slot="icon-only"></ion-icon>
    </ion-buttons>
    <ion-title class="logo">DriveEasyRentals</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="person-circle-outline"
        size="large"
        slot="icon-only"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <app-search></app-search>
    <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->
  </ion-toolbar>
</ion-header>
