<ion-content [fullscreen]="true">
  <ion-toolbar>
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-back-button
          icon="chevron-back-outline"
          defaultHref="/home"
        ></ion-back-button>
      </ion-buttons>
      <ion-text> BMW X7 M60i 2023</ion-text>
    </div>
  </ion-toolbar>

  <app-slider></app-slider>
  <!-- Car Details -->
  <div class="car-details">
    <ion-text class="car-model">BMW X7 M60i 2023</ion-text>

    <div class="car-info">
      <ion-badge color="primary">SUV</ion-badge>
      <ion-badge color="primary">4 Doors</ion-badge>
      <ion-badge color="primary">7 Seats</ion-badge>
      <ion-badge color="primary">3 Bags</ion-badge>
    </div>

    <ion-text color="medium">
      <h3>From AED 1300 / day</h3>
    </ion-text>

    <ion-text>
      <p>Explore rates for daily, weekly, and monthly rental</p>
    </ion-text>

    <!-- Disclaimer -->
    <ion-item class="disclaimer" lines="none">
      <ion-label>
        <strong>Disclaimer:</strong>
        Rental details are provided by the supplier. Verify information before
        booking.
      </ion-label>
    </ion-item>

    <!-- Pricing Information -->
    <div class="pricing">
      <ion-item>
        <ion-label>1 Day</ion-label>
        <ion-note slot="end">AED 1300</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>1 Week</ion-label>
        <ion-note slot="end">AED 7700</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>1 Month</ion-label>
        <ion-note slot="end">AED 24000</ion-note>
      </ion-item>
    </div>

    <!-- Contact & Actions -->
    <div class="actions">
      <ion-button color="dark" href="tel:+96878823918">
        <ion-icon slot="start" name="call" color="light"></ion-icon>
        <ion-text color="light">Call</ion-text>
      </ion-button>

      <ion-button
        color="success"
        href="https://wa.me/971501532453"
        target="_blank"
      >
        <ion-icon slot="start" name="logo-whatsapp" color="light"></ion-icon>
        <ion-text color="light">WhatsApp</ion-text>
      </ion-button>
    </div>
  </div>
</ion-content>
