:host {
  ion-content {
    ion-toolbar {
      .toolbar-container {
        display: flex;
        align-items: center;
      }
    }
  }

  .car-details {
    padding: 20px;
    .car-model {
      margin-bottom: 7px;
      display: flex;
    }

    .car-info {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
      ion-badge {
        font-size: 0.8rem;
      }
    }

    .disclaimer {
      padding: 10px 0;
      --padding: 10px 0;
      margin: 20px 0;
      border-left: 4px solid #ffcc00;
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-start: 0;
      --inner-padding-end: 0;

      ion-label {
        margin: 0;
        padding: 0.5rem;
      }
    }

    .pricing {
      ion-item {
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-end: 0;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      ion-button {
        flex: 1;
        margin: 0 5px;
      }
    }
  }

  // light theme styles
  @media (prefers-color-scheme: light) {
    .disclaimer {
      background-color: var(--ion-color-medium-light);
    }

    .disclaimer ion-label {
      background-color: var(--ion-color-medium-light);
    }
  }
}
