<ion-card (click)="navigateToCarPage()">
  <app-slider></app-slider>
  <ion-card-header>
    <ion-card-title>Hyundai Accent 2021</ion-card-title>
    <ion-card-subtitle>
      <ion-badge color="light">Sedan</ion-badge>
      <ion-icon name="car-outline"></ion-icon> 4
      <ion-icon name="people-outline"></ion-icon> 5
      <ion-icon name="bag-outline"></ion-icon> 2
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <!-- Pricing -->
    <div class="pricing">
      <p><strong>AED 90</strong> / day | <strong>250 km</strong></p>
      <p><strong>AED 1750</strong> / month | <strong>5000 km</strong></p>
    </div>
    <!-- Rental Info -->
    <div class="rental-info">
      <span>
        <ion-icon name="location-outline"></ion-icon> International City</span
      >
      <p>Minimum 3 days rental | Insurance included</p>
    </div>
  </ion-card-content>

  <!-- Actions -->
  <ion-footer (click)="$event.stopPropagation()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="warning" expand="block" href="tel:+96878823918">
            <ion-icon name="call-outline" slot="start"></ion-icon> Call
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="success"
            expand="block"
            href="https://wa.me/971501532453"
          >
            <ion-icon name="logo-whatsapp" slot="start"></ion-icon> WhatsApp
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-card>
